@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #358597;
  color: rgb(244, 168, 150);
}

body {
  font-family: 'Inconsolata', monospace;;
}

/* About */

.about-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-container h1 {
  padding-bottom: 100px;
}

.container {
  max-height: 500px;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-right {
  height: 100%;
  align-self: center;
  text-align: justify;
}

.container-right p {
  font-size: 18px;
  line-height: 33px;
  padding: 20px;
}

.container-left {
  height: 100%;
  align-self: center;
}

.container-left img {
  max-height: 300px;
  object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.pointer {
  position: absolute;
  bottom: 0;
  font-size: 24px;
}

/* Navbar */
.navbar {
  background-color: #F4A896;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 9999;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navbar a {
  font-size: 20px;
  color: #358597;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  text-decoration: underline;
}

/* Projects */

.projects-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.project-card {
  width: 250px;
  height: 400px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-card:hover {
  box-shadow: 0 4px 8px 0 rgba(244, 168, 150, 0.5);
}

.project-card img {
  object-fit: cover;
}

.project-subtitle {
  font-size: 18px;
  padding: 5px;
}

.project-text {
  font-size: 13px;
  padding: 10px;
}

.link-container {
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 0;
}
.link-container a {
  text-decoration: none;
  font-size: 22px;
  padding: 5px;
  color: black;
}

/* Mobile styling */

@media screen and (max-width: 768px) {

  .navbar a {
    font-size: 15px;
  }

  .about-container h1 {
    padding-bottom: 25px;
  }

  .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-left {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: 180px;
  }

  .container-left img {
    height: 180px;
  }

  .container-right {
    height: 180px;
  }

  .container-right p {
    font-size: 12px;
    line-height: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
  }

  .tech-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}