@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #358597;
  color: rgb(244, 168, 150);
}

body {
  font-family: 'Inconsolata', monospace;
  width: 100%
}

/* Navbar */
.navbar {
  background-color: #F4A896;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 999;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navbar a {
  font-size: 20px;
  color: #358597;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  text-decoration: underline;
}

/* Introduction */

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.intro h1 {
  padding-top: 55px;
  padding-bottom: 50px;
}

.intro-container {
  max-height: 500px;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 100px;
}

.intro-right {
  height: 100%;
  align-self: center;
  text-align: justify;
}

.intro-right p {
  font-size: 18px;
  line-height: 33px;
  padding: 20px;
}

.intro-left {
  height: 100%;
  align-self: center;
}

.intro-left img {
  max-height: 300px;
  object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
}

.icons {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  color: #F4A896;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.pointer a {
  font-size: 24px;
  text-decoration: none;
  color: #F4A896;
}

/* Projects */

.projects-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.project-card {
  width: 250px;
  height: 420px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.project-card img {
  border-radius: 5px;
}

.project-card:hover {
  box-shadow: 0 4px 8px 0 rgba(244, 168, 150, 0.5);
  transform: scale(1.05);
}

.project-card img {
  object-fit: cover;
}

.project-subtitle {
  font-size: 18px;
  padding: 5px;
}

.project-text {
  font-size: 13px;
  padding: 10px;
}

.link-container {
  width: 100%;
  position: absolute;
  bottom: 5px;
}
.link-container a {
  text-decoration: none;
  padding: 5px;
}

/* Mobile styling */

@media screen and (max-width: 768px) {

  .navbar a {
    font-size: 16px;
  }

  .intro h1 {
    padding-bottom: 20px;
  }

  .intro-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .intro-left {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: 180px;
    padding-bottom: 10px;
  }

  .intro-left img {
    height: 180px;
  }

  .intro-right {
    height: 180px;
  }

  .intro-right p {
    font-size: 12px;
    line-height: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
  }

  .icons {
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
  }

  .tech-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .pointer a {
    font-size: 18px;
  }
}